
body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.ow-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.ow-row:last-child {
  margin-bottom: 0;
}

.ow-ico {
  line-height: 1.0em;
}

.ow-widget {
  background:#ededef;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
  background: -moz-linear-gradient(top,  #ededef,  #ccc);
  font:bold 30px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
  text-align:center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  color: #000;
  padding: 0;
}

.ow-temp-current {
  font-size: 40px;
  margin: 0 10%;
}

.ow-current-desc {
  line-height: 1.5em;
}

.ow-forecast-item {
  float: left;
  width: calc(25% - 1px);
  text-align: center;
  border-right: 1px solid white;
}
.ow-forecast-item:last-child {
  border-right: 0;
}
.ow-forecast-item .ow-ico-forecast {
  font-size: 30px;
  position: relative;
  margin: 10px 0;
}
.ow-forecast-item .ow-forecast-temp span {
  display: inline-block;
  margin: 0 5px;
}
