/* Pure CSS Post Tags */	
* {  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
  
   -webkit-transition: all .1s linear 0;
 -moz-transition: all .1s linear 0;
 transition: all .1s linear 0;

}
body { font-family:"Lucida Sans Unicode";}

 

td {
	font:13px/13px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
	font-weight: normal;
	}
	
b {
 	/* font-family: arial, verdana, sans-serif; */
 	 font:15px/15px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
 	}
 	


.calendar, .calendar2 {
	top:0em;
	left:0.3em;
	padding-top:15px;
	width:345px;
	height:670px;
	
	background: #23538a; /* Old browsers */
background: -moz-linear-gradient(top, #23538a 0%, #a7cfdf 7%, #a7cfdf 7%, #a7cfdf 90%, #23538a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #23538a 0%,#a7cfdf 7%,#a7cfdf 7%,#a7cfdf 90%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #23538a 0%,#a7cfdf 7%,#a7cfdf 7%,#a7cfdf 90%,#23538a 100%); 
	
	/*background:#ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc)); 
	background: -moz-linear-gradient(top,  #ededef,  #ccc); 
	*/
	font:20px/20px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
	
	color:#000;
  
	text-shadow:#fff 0 0px 0;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
	position:absolute;
	-moz-box-shadow:0 2px 2px #888;
	-webkit-box-shadow:0 2px 2px #888;
	box-shadow:0 2px 2px #888;
	}

.calendar2,{
     font:15px/15px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
    }

.temperature{
  position:relative;
  left: 100px;
  text-align:left;
}

.thumbnail {
  position: absolute;
  top: 10px;
  left: 15px;
}

.termo{
  position:absolute;
  top: 10px;
  left: 140px;
  height: 50%;
  text-align:left;
}

.calendar em, .calendar2 em{
	display:block;
	font:14px/10px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:#00365a 0 -1px 0;	
	background:#04599a;
	background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a)); 
	background:-moz-linear-gradient(top,  #04599a,  #00365a); 
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;	
	border-bottom-left-radius:3px;	
	border-top:1px solid #00365a;
	}

.calendar:before, .calendar:after, .calendar2:before, .calendar2:after{
	content:'';
	float:left;
	position:absolute;
	top:5px;	
	width:8px;
	height:8px;
	background:#111;
	z-index:1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0 1px 1px #fff;
	-webkit-box-shadow:0 1px 1px #fff;
	box-shadow:0 1px 1px #fff;
	}
.calendar:before, .calendar2:before{left:11px;}	
.calendar:after, .calendar2:after{right:11px;}

.calendar em:before, .calendar em:after, .calendar2 em:before, .calendar2 em:after{
	content:'';
	float:left;
	position:absolute;
	top:-5px;	
	width:4px;
	height:14px;
	background:#dadada;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa)); 
	background:-moz-linear-gradient(top,  #f1f1f1,  #aaa); 
	z-index:2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}
.calendar em:before, .calendar2 em:before{left:13px;}	
.calendar em:after, .calendar2 em:after{right:13px;}	