/* Pure CSS Post Tags */	
* {  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
  
   -webkit-transition: all .1s linear 0;
 -moz-transition: all .1s linear 0;
 transition: all .1s linear 0;

}


body { font-family:"Lucida Sans Unicode";}

.calendar, .calendar2, .calendar3{
	top:0em;
	left:0.2em;
	padding-top:5px;
	width:110px;
	height:80px;
	background:#ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc)); 
	background: -moz-linear-gradient(top,  #ededef,  #ccc); 
	font:bold 30px/50px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
  
	text-shadow:#fff 0 1px 0;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
	position:absolute;
	-moz-box-shadow:0 2px 2px #888;
	-webkit-box-shadow:0 2px 2px #888;
	box-shadow:0 2px 2px #888;
	}

.calendar2 {
     left:4em;
     width:100px;  
    }
    
.calendar3 {
    
    color:#fff;
	text-shadow:#00365a 0 1px 0;	
	left:15em;
	padding-top:13px;
	
	width:125px;
	font:bold 15px/20px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif; 
    }


.calendar em, .calendar2 em, .calendar3 em{
	display:block;
	font:14px/26px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:#00365a 0 -1px 0;	
	background:#04599a;
	
	
	background:-webkit-gradient(linear, left top, left bottom, from(#ff2e2e), to(#9a0404)); 
	background:-moz-linear-gradient(top,  #ff2e2e,  #9a0404); 
	
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;	
	border-bottom-left-radius:3px;	
	border-top:1px solid #00365a;
	}


	
.calendar3 em2{
    display:block;
    font:15px/20px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    
    color:#fff;
	text-shadow:#00365a 0 -1px 0;	
    background:-webkit-gradient(linear, left top, left bottom, from(#ff2e2e), to(#9a0404)); 
	background:-moz-linear-gradient(top,  #ff2e2e,  #9a0404); 
    
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
	
	-webkit-border-bottom-right-radius:3px;	
	
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;	
	
	border-bottom-left-radius:3px;
	
	border-top:0px solid #00365a;
}
.calendar3 em{

 
    background:-webkit-gradient(linear, left top, left bottom, from(#06c540), to(#0a5f32)); 
	background:-moz-linear-gradient(top,  #06c540,  #0a5f32); 
	
     
}

.calendar:before, .calendar:after, .calendar2:before, .calendar2:after, .calendar3:before, .calendar3:after{
	content:'';
	float:left;
	position:absolute;
	top:5px;	
	width:8px;
	height:8px;
	background:#111;
	z-index:1;
	-moz-border-radius:40px;
	-webkit-border-radius:10px;
	border-radius:20px;
	-moz-box-shadow:0 1px 1px #fff;
	-webkit-box-shadow:0 1px 1px #fff;
	box-shadow:0 1px 1px #fff;
	}
	
.calendar:before, .calendar2:before, .calendar3:before{left:11px;}	

.calendar:after, .calendar2:after, .calendar3:after{right:11px;}


.calendar em:before, .calendar em:after, .calendar2 em:before, .calendar2 em:after, .calendar3 em:before, .calendar3 em:after{
	content:'';
	float:left;
	position:absolute;
	top:-5px;	
	width:4px;
	height:14px;
	background:#dadada;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa)); 
	background:-moz-linear-gradient(top,  #f1f1f1,  #aaa); 
	z-index:2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}
.calendar em:before, .calendar2 em:before, .calendar3 em:before{left:13px;}	
.calendar em:after, .calendar2 em:after, .calendar3 em:after{right:13px;}	