iframe {
  max-width: 100%;
  max-height: 100%;
  width: "690"; 
  height: "330";
  border: "0";
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 0;
  border-image-outset: 0;
  border-image-repeat: none;
}
}
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}
.video iframe {
  width: "660"; 
  height: "330";
}
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
